html
    head
        title Pwhaas - Password Hash as a Service
        link(rel="shortcut-icon" href="favicon.ico")
    body
        h1 Password Hash As A Service
        p I am a RESTful service that can hash things.