h1 Password Hash As A Service
p I'm a microservice.
p I can hash things.
p I offload CPU intensive password hashing from your application servers so they can asynchronously wait on IO instead.
p I'm designed to hash passwords with the latest security recommendations to make them exceedingly difficult to crack.